@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.container{
    text-align:center;
    width:70%;
    margin: auto;
}
.player{
    color: rgb(160, 108, 209);
    font-size: 1.5rem;
    padding: 2rem; 
    text-align: center;
    display: inline-block;
    font-family: 'Pacifico', cursive;

}

body{
    background-color: rgb(112, 108, 108);
}
h1{  
    font-family: 'Lobster', cursive;
    color: rgb(161, 45, 190);
    margin: 60px;
    text-shadow: 9px 0 rgb(87, 78, 78);
    font-size: 6rem;
}
footer{
    text-align: center;
    font-weight: 20px;
    font-family: 'Shadows Into Light', cursive;
}